<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>
            <button mat-button [routerLink]="['/pages']">
                <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon> Inicio
            </button>
        </span>
<!-- 
        <button mat-button [routerLink]="['/pages/dashboard']">Dashboard</button>
        <button mat-button [routerLink]="['/pages/configuration']">Configuration</button>         -->
        <button mat-button [routerLink]="['/pages/users']">Usuários</button>
        <button mat-button [routerLink]="['/pages/videos']">Videos</button>
        <button mat-button disabled color="white">Planos</button>
        <button mat-button disabled>Configuração do Gateway</button>

        <span class="example-spacer"></span>

        <button mat-button [matMenuTriggerFor]="animals">
            <mat-icon>person</mat-icon>
            <span class="user-label">{{username}}</span>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

    
        <mat-menu class="menu-right" #animals="matMenu">
         
            <button (click)="Logout()" mat-menu-item>Sair</button>
        </mat-menu>



    </mat-toolbar-row>
</mat-toolbar> 
<div id="master">
    <router-outlet></router-outlet>
</div>