<h1 fxLayoutAlign="center">Usuários</h1>

<div fxLayout="column" fxLayoutAlign="center stretch" *ngIf="showTable == true">
  <div fxLayout="row" class="search" fxLayoutAlign="end stretch">

    <mat-form-field floatLabel="always" appearance="none">
      <mat-slide-toggle (change)="usersBlocked()" [(ngModel)]="blocked"><span class="text-invisible">Bloqueados</span>
      </mat-slide-toggle>
      <textarea matInput hidden></textarea>
    </mat-form-field>

    <mat-form-field style="margin-right: 2%;">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>

  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="picture">
      <th mat-header-cell *matHeaderCellDef> Foto </th>
      <td mat-cell *matCellDef="let element"> <img style="max-width: 30px; max-height: 30px;" src="{{element.picture}}">
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'singleClass' : (element.blocked)}"> {{element.name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="birthDay">
      <th mat-header-cell *matHeaderCellDef> Aniversário </th>
      <td mat-cell *matCellDef="let element"> {{element.birthDay | date:'dd/MM/yyyy'  }} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef> Gender </th>
      <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> <button (click)="openModal()" mat-button color="primary"><i
            class="material-icons">add_circle</i></button>
      <th>
      <td mat-cell *matCellDef="let element">
        <button (click)="openModalDelete(element.id)" *ngIf="blocked" mat-button color="primary"><i
            class="material-icons">deleted</i></button>
        <button (click)="openModalUpdateBlocked(element.id, 1)" *ngIf="blocked" mat-button color="primary"><i
            class="material-icons">restore</i></button>
        <button (click)="openModalUpdateBlocked(element.id, 0)" *ngIf="!blocked" mat-button color="primary"><i
            class="material-icons">block</i></button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>