 
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="youtubeClasses">
      <form  [formGroup]="youtubeClasses">
        <ng-template matStepLabel>Cadastro da Aula</ng-template>
        <div fxLayout="row" fxLayoutAlign="space-around none" >
        <mat-form-field>
          <mat-label>Nome do Curso</mat-label>
          <input matInput placeholder="Nome do curso" formControlName="name" required>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Detalhes</mat-label>
            <input matInput placeholder="Detalhes do curso" formControlName="detail" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Thumbnail da Aula</mat-label>
            <input matInput placeholder="Capa de foto do curso" formControlName="thumbnail" required>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Tempo de Curso</mat-label>
            <input matInput placeholder="Ex: 20 Horas / 20 Hours" formControlName="work_load" required>
          </mat-form-field>
        </div>
        <div fxLayoutAlign="end">
          <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
          <button  mat-button matStepperNext>Próximo</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="youtubeCategory">
      <form [formGroup]="youtubeCategory">
        <ng-template matStepLabel>Cadastro Modulos/Videos </ng-template>
        <button mat-button color="primary" (click)="addCategory()">Adicionar Modulo</button>
      
        <div  formArrayName="items" *ngFor="let item of getCategoryControls(); let i = index"> 
            <div [formGroupName]="i">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Modulos</mat-card-title>
                      </mat-card-header>
                    <mat-card-content fxLayout="row" fxLayoutAlign="space-between stretch">
                        <mat-form-field>                    
                            <mat-label>Nome do Modulo</mat-label>
                            <input matInput formControlName="name" placeholder="Nome do Modulo" required>
                        </mat-form-field>
            
                        <mat-form-field>  
                            <mat-label>Detalhe do Modulo</mat-label>
                            <input matInput formControlName="detail" placeholder="Detalhe do Modulo" required>
                        </mat-form-field> 
                        
                        <mat-form-field>
                            <mat-label>Capa do Modulo</mat-label>
                            <input matInput formControlName="thumbnail" placeholder="Capa do Modulo" required>
                        </mat-form-field>
                        <button (click)="removeCategory(i)" mat-icon-button color="primary" color="primary"><i class="material-icons">deleted</i></button>        

                    </mat-card-content>
                    <mat-card-actions>
                         
                        <mat-card>
                            <mat-card-header>
                                <mat-card-title>Videos <button (click)="addVideo(item)"  color="primary" mat-icon-button color="primary"><i  class="material-icons">add</i></button></mat-card-title>
                              </mat-card-header>
                            <div  formArrayName="youtubeVideos" *ngFor="let video of getVideosControl(item); let v = index">
                                <div [formGroupName]="v">
                                    <mat-form-field>                    
                                        <mat-label>Nome do Video</mat-label>
                                        <input matInput formControlName="name" placeholder="Nome do Video" required>
                                    </mat-form-field>

                                    <mat-form-field>                    
                                        <mat-label>Link do conteudo</mat-label>
                                        <input matInput formControlName="source" placeholder="URL Video: apenas o Source () / URL PDF: url completa do PDF" required>
                                    </mat-form-field>

                                    
                                    <mat-form-field>
                                        <mat-label>Tipo de Conteudo</mat-label>
                                        <mat-select formControlName="type" disableRipple>
                                        <mat-option>-</mat-option>
                                        <mat-option value="0">Source Video</mat-option>
                                        <mat-option value="1">URL PDF</mat-option>
                                        </mat-select>
                                    </mat-form-field>
 

                                <button (click)="removeVideo(i,v)" mat-icon-button color="primary"><i class="material-icons">deleted</i></button>        

                                </div>
                            </div>
                        </mat-card>

                      </mat-card-actions>
                </mat-card>
                <br>
 
                  
            </div>            
         </div> 
        <div fxLayoutAlign="end">
            <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
            <button mat-button matStepperPrevious>Anterior</button>
            <button  mat-button matStepperNext>Próximo</button>
          </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Confirmação</ng-template>
      <p>Tem certeza que esta tudo certo mesmo?</p>
    
      <div fxLayoutAlign="end">
        <button mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
        <button mat-button matStepperPrevious>Anterior</button>
        <button  mat-button (click)="sendClass()">Enviar</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

