#master {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}


.bg {
    background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
    /* background-color: grey; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fff !important;
}
 
