<div class="login-wrapper bg" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>

        <form class="example-form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput formControlName="email" placeholder="Email">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput type="password" formControlName="password" placeholder="Password">
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block">Log in</button>
        </form>
    </mat-card>

</div>