<div fxLayout="column" class="search" fxLayoutAlign=" stretch" mat-dialog-content>
    <h1 fxLayoutAlign="center">Tem certeza que deseja deletar?</h1>    
  </div>
  <div fxLayoutAlign="end" mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Não</button>
    <button mat-button class="primary" (click)="delete()"  cdkFocusInitial>Sim</button>
  </div>