<div   class="container">
    <h1>Configurações</h1>


    <mat-form-field class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field class="full-width">
        <mat-label>porta</mat-label>
        <input matInput>
    </mat-form-field>
    <br>


    <button mat-button (click)='Save()' mat-raised-button color="primary">Salvar</button>
</div>