<div fxLayout="row" fxLayoutAlign="space-evenly start">
  <div fxLayout="column" class="search" fxLayoutAlign=" stretch" mat-dialog-content>
    <h1 fxLayoutAlign="center">Cadastro</h1>
    <mat-form-field>
      <mat-label>Nome completo</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Senha</mat-label>
      <input type="password" matInput [(ngModel)]="password">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Foto - URL</mat-label>
      <input matInput [(ngModel)]="picture">
    </mat-form-field>


    <mat-form-field>
      <mat-label>Aniversário</mat-label>
      <input matInput mask="00/00/0000" placeholder="dd/mm/yyyy" [(ngModel)]="birthDay">
    </mat-form-field>

  
    <mat-form-field>
      <mat-label>Sexo</mat-label>
      <mat-select [(ngModel)]="gender" disableRipple>
        <mat-option>-</mat-option>
        <mat-option value="Male">Male</mat-option>
        <mat-option value="Female">Female</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div fxLayoutAlign="end">
    <div fxLayout="column">
      <h1 fxLayoutAlign="center">Foto</h1>
      <img class="boxPicture" src="{{picture}}">
      <hr>

      <div fxLayoutAlign="space-evenly start">
        <button mat-button (click)="onNoClick()">Cancelar</button>
        <button mat-raised-button color="primary" class="primary" (click)="onCreateClick()"
          cdkFocusInitial>Criar</button>
      </div>

    </div>

  </div>
</div>