<div fxLayout="column" class="search" fxLayoutAlign=" stretch" mat-dialog-content>
    <h1 fxLayoutAlign="center">Tem certeza que deseja {{data.state ? 'desbloquear' : 'bloquear'}} esse usuário?</h1>
</div>
<div fxLayoutAlign="end" mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Não</button>
    <button mat-button class="primary" (click)="updateBlocked()" cdkFocusInitial>Sim</button>
</div>