<h1 fxLayoutAlign="center">Videos</h1>

<div fxLayout="column" fxLayoutAlign="center stretch" *ngIf="showTable == true">
  <div fxLayout="row" class="search" fxLayoutAlign="end stretch">
  
    <mat-form-field style="margin-right: 2%;">
      <mat-label>Filtro</mat-label>
      <input matInput (keyup)="applyFilter($event)">
    </mat-form-field>

  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
 
    <ng-container matColumnDef="thumbnail">
        <th mat-header-cell *matHeaderCellDef> Thumbnail </th>
        <td mat-cell *matCellDef="let element"> <img style="max-width: 150px; max-height: 30px;" src="{{element.thumbnail}}">
        </td>
      </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome do Curso </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{'singleClass' : (element.blocked)}"> {{element.name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="detail">
      <th mat-header-cell *matHeaderCellDef> Detalhes </th>
      <td mat-cell *matCellDef="let element"> {{element.detail}} </td>
    </ng-container>

    <ng-container matColumnDef="class_date">
      <th mat-header-cell *matHeaderCellDef> Data </th>
      <td mat-cell *matCellDef="let element"> {{element.class_date | date:'dd/MM/yyyy'  }} </td>
    </ng-container>

    <ng-container matColumnDef="work_load">
        <th mat-header-cell *matHeaderCellDef> Tempo do curso </th>
        <td mat-cell *matCellDef="let element"> {{element.work_load}}   </td>
      </ng-container>
 
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> <button (click)="openModal()" mat-button color="primary"><i
              class="material-icons">add_circle</i></button>
        <th>
        <td mat-cell *matCellDef="let element">
          <button (click)="openModalDelete(element.id)" mat-button color="primary"><i
              class="material-icons">deleted</i></button>        
        </td>
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


</div>